[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[user]
	name = Chris Saylor
	email = cjsaylor@gmail.com
	signingkey = 5A86A16C
[alias]
	cs = commit -S
	rb = rebase -S
	caa = commit -a --amend -C HEAD
	stat = status
	co = checkout
	ls = log --show-signature
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[advice]
	statusHints = false
[difftool]
	prompt = false
[merge]
	stat = true
[core]
	excludesfile = /Users/christophersaylor/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg